body
{
	background:url('musicc.jpg');
	background-color:rgba(0,0,0,0.5);
	background-blend-mode:darken;
	background-repeat:no repeat;
	background-size:cover;
	color:white;
	font-family:sansplaypen sans;
	display:flex;
	flex-direction:column;
	height:90vh;
	
}
@keyframes fade-in{
	0%{
		opacity:0;
		transform:translatey(15px);
	}
	100%{
		opacity:1;
		transform:translatey(15px);
	}
}
.navbar a{
	color:black;
	transform:translatex(200px);
	margin-left:10px;
	padding:10px;
	margin-top:900px;
	font-size:15px;
}
.logo a{
	font-size:50px;
	color:grey;

}
.header{
	display:flex;
	align-items:center;
	transition:0.1s;
	justify-content:space-between;
	padding-left:50px;
	padding-right:50px;

}
.maindiv{
	margin:10px;
	padding:10px;
	animation:fade-in 1s;
}
.navbar a:hover{
	color:blue;
	transition:0.1s;
}
 .logo a:hover{
	 color:purple;
 }
 h1{
	 color: white;
	 font-size:50px;
	 font-weight:800;
	 margin:10px; 
	 line-height:1;
 }
p{
	 text-size:10px;
	 opacity:1;
	 line-height:1.4;
 }
 .main{
	 text-align:center;
	 margin-top:110px;
	 animation:fade-in 1s;
 }
 .text--bold{
	 font-weight:800;
 }
 .form{
	justify-content:center; 
 }
 .input{
	 transform:scale(1.4);
	 border:1px;
	 padding-right:5px;
	 width:200px;
	 height:25px;
	 border-radius:3px;
	 opacity:0.8;
	 outline:none;
	 transition:0.4;
 }
 .input:focus{
	 opacity:2;
 }
 .input::placeholder{
	 color:black;
 }
 .btn{
	 background-color:black;
	 border:0.5px;
	 color:white;
	 padding:0;
	 text-transform:uppercase;
	 font-size:16px;
	 transition:0.2s;
	 width:100px;
	 height:35px;
	 border-radius:4px;
	 margin-bottom:40px;

 }
 .btn:hover{
	 background-color:tomato;

 }
 .footer{
	  border-top:1px solid grey;
	 display:flex;
	 justify-content:space-between;
     margin:0 40px;
	 font-size:10px;
	 animation:fade-in 0.5s 0.2s backwards;
 }




















